<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Harcama Ekle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

<h1>Yeni Harcama</h1>

<form method="POST">
    <input type="text" name="title" placeholder="Harcama adı" required>
    <input type="number" step="0.01" name="amount" placeholder="Tutar" required>
    <input type="text" name="category" placeholder="Kategori">
    <input type="date" name="date">

    <button type="submit">Kaydet</button>
</form>

<br>
<a href="/">← Geri</a>

</div>

</body>
</html>
