<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">

<h1>Harcama Listesi</h1>
<br>
<h2>Toplam Harcama: {{ total }} ₺</h2>
<br>
<h3>Kategoriye göre harcamalar:</h3>

<ul>
    {% for item in category_totals %}
        <li>{{ item.category }}: {{ item.total }} ₺</li>
    {% endfor %}
</ul>
<br><br>
<a href="/add">+ Yeni Harcama Ekle</a>


<ul>
    {% for expense in expenses %}
        <li>
            <span>{{ expense.title }} ({{ expense.category }})</span>
            <strong>{{ expense.amount }}₺</strong>

            <a href= "{{url_for('delete_expense', id=expense.id)}}">
                <button>Sil</button>
            </a>
        </li>
    {% endfor %}
</ul>

{% if expenses|length == 0 %}
    <p class="empty">Henüz harcama eklenmedi.</p>
{% endif %}

</div>

</body>
</html>
